# Default Approval rule if one of the later sections does not apply
* @nv-morpheus/morpheus-codeowners

# Engineering is requried for changes to the following:
/ci/       @nv-morpheus/morpheus-codeowners-eng
/cmake/    @nv-morpheus/morpheus-codeowners-eng
/docker/   @nv-morpheus/morpheus-codeowners-eng
/docs/     @nv-morpheus/morpheus-codeowners-eng
/examples/ @nv-morpheus/morpheus-codeowners-eng
/morpheus/ @nv-morpheus/morpheus-codeowners-eng
/scripts/  @nv-morpheus/morpheus-codeowners-eng
/tests/    @nv-morpheus/morpheus-codeowners-eng

# Data Science is requried for changes to `models`
/models/ @nv-morpheus/morpheus-codeowners-ds
