# Default Approval rule if one of the later sections does not apply
* @BartleyR @mdemoret-nv @pdmack @raykallen

# Engineering is requried for changes to the following
/morpheus/ @BartleyR @mdemoret-nv @pdmack @bsuryadevara @dagardner-nv @drobison00 @efajardo-nv
/cmake/    @BartleyR @mdemoret-nv @pdmack @bsuryadevara @dagardner-nv @drobison00 @efajardo-nv
/tests/    @BartleyR @mdemoret-nv @pdmack @bsuryadevara @dagardner-nv @drobison00 @efajardo-nv

# Data Science is requried for changes to `models`
/models/ @BartleyR @mdemoret-nv @pdmack @bsuryadevara @raykallen @gbatmaz @tzemicheal 
