# Folders to ignore
.vscode
**/__pycache__
**/*.ipynb_checkpoints
**/*Dockerfile*
.tmp

# Ignore any build folder
./build*
# Ignore the build cache
./.cache

# Ignore specific files
docker/commands.sh
*.egg-info/
kafka-docker
