morpheus/_version.py export-subst
data/* filter=lfs diff=lfs merge=lfs -text
morpheus/data/* filter=lfs diff=lfs merge=lfs -text
tests/expected_data/* filter=lfs diff=lfs merge=lfs -text
tests/mock_triton_server/payloads/** filter=lfs diff=lfs merge=lfs -text
