[submodule "external/morpheus-visualizations"]
	path = external/morpheus-visualizations
	url = https://github.com/nv-morpheus/morpheus-visualizations.git
	branch = branch-23.01
[submodule "morpheus_utils"]
	path = external/utilities
	url = https://github.com/nv-morpheus/utilities.git
	branch = branch-23.01
