[submodule "external/morpheus-visualizations"]
	path = external/morpheus-visualizations
	url = https://github.com/nv-morpheus/morpheus-visualizations.git
	branch = branch-22.11
[submodule "morpheus_utils"]
	path = external/utilities
	url = ../../nv-morpheus/utilities.git
	branch = branch-23.01 
