include morpheus_llm/_version.py
include morpheus_llm/requirements_morpheus_llm-aarch64.txt
include morpheus_llm/requirements_morpheus_llm-x86_64.txt
recursive-include morpheus_llm *.cpython*.so py.typed *.pyi
