# Note, to include this when using setup.py or pip, set the variable:
# PIP_FIND_LINKS=https://download.pytorch.org/whl/cu113/torch_stable.html
--find-links https://download.pytorch.org/whl/cu116/torch_stable.html

####### Pip-only runtime dependencies (keep sorted!) #######
# Packages listed here should also be listed in setup.py
git+https://github.com/nv-morpheus/dfencoder.git@branch-23.01#egg=dfencoder
ipywidgets
jupyter-core>=4.11.2,<5.0
jupyterlab
nvidia-pyindex
pytest-benchmark>=4.0
torch==1.13.1+cu116
tritonclient[all]==2.17.*
websockets
